@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background;
}

#app {
  @apply min-h-screen bg-background relative;
  max-width: 630px;
  margin: 0 auto;
}
/* Webkit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 8px; /* Rounded corners for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
.scrollable-container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar thumb color and track color */
  border-radius: 8px; /* Rounded corners for the scrollbar container */
}
